/* taken from stacklayout_mobile.css (except for .container) */
.container { margin-left: auto; margin-right: auto; width: 80%; }
.stack1of2,
.stack1of3,
.stack2of3,
.stack1of4,
.stack3of4,
.stack1of5,
.stack2of5,
.stack3of5,
.stack4of5,
.tabs li, 
.stack2of3 .stack1of3,
.stack4of5.header-area, 
.stack2of3.main-content,
.stack1of5.header-area,
.stack1of3.sidebar
{
    width:100%;
    left:0 !important;
}
.searchForm input.text { width: 70%; }
.admin.core.config #form-section-modules .form-item { width: 100%; }
  

