<div class="siiite"><%- sitename %></div>
<div class="home-content stack2of3">
  <div class="stack">
      <div class="stackContent">
        <%- welcome %>
      </div>
  </div>
  <div class="stack1of3">
    <div class="stackContent">
      <%- about %>
  </div>
  </div>
  <div class="stack1of3">
    <div class="stackContent">
      <%- quickstart %>
    </div>
  </div>
  <div class="stack1of3">
    <div class="stackContent">
      <%- guide %>
    </div>
  </div>
  <div class="stack1of3">
    <div class="stackContent">
      <%- featurea %>
    </div>
  </div>
  <div class="stack1of3">
    <div class="stackContent">
      <%- featureb %>
    </div>
  </div>
  <div class="stack1of3">
    <div class="stackContent">
      <%- featurec %>
    </div>
  </div>
</div>