/* taken from stacklayout_mobile.css (except for .container) */
.container { margin-left: auto; margin-right: auto; width: 80%; }
.stack1of2,
.stack1of3,
.stack2of3,
.stack1of4,
.stack3of4,
.stack1of5,
.stack2of5,
.stack3of5,
.stack4of5,
.tabs li, 
.stack2of3 .stack1of3
{
    width:100%;
    left:0 !important;
}

