/* small : 606px */
.container { margin: 0 auto; width: 606px; }
.stack1of2,
.stack1of3,
.stack2of3,
.stack1of4,
.stack3of4,
.stack1of5,
.stack2of5,
.stack3of5,
.stack4of5
{
    width: 50%;
    left:0 !important;
}

.stack4of5.header-area, 
.stack2of3.main-content { width: 66.667%; } 
.stack1of5.header-area,
.stack1of3.side-bar { width: 33.334%; }
