[submodule "themes/respondo/public/css/stacklayout"]
	path = themes/respondo/public/css/stacklayout
	url = https://github.com/camslice/StackLayout.git
[submodule "themes/respondo/public/js/datetimepicker"]
	path = themes/respondo/public/js/datetimepicker
	url = https://github.com/trentrichardson/jQuery-Timepicker-Addon.git
[submodule "themes/nubick/public/css/stacklayout"]
	path = themes/nubick/public/css/stacklayout
	url = https://github.com/camslice/StackLayout.git
