<!--  STYLES -->
<link href="/css/stacklayout/stacklayout.css" rel="stylesheet" />
<!--[if lte IE7]><link href="/css/stacklayout/stacklayout_lte_ie7.css" rel="stylesheet" /><![endif]-->
<link href="/css/stacklayout/stacklayout_mobile.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/primary-menu.css" rel="stylesheet" />
<% if(user.isAdmin) { %>
<link href="/css/admin.css" rel="stylesheet" />
<link href="/css/admin-menu.css" rel="stylesheet" />
<% } %>
<!-- put your stylesheet links here -->
