<!-- loaded up every page, overrides default template in /modules/community/richforms -->
<script src="/js/datetimepicker/jquery-ui-timepicker-addon.js"></script>
<script>
// Iterate through datepicker elements and set values
// TODO : Use date format for users locale!
$(document).ready(function()  {

  $( ".jquery-ui-datepicker" ).each(function(k,dp) {

    var date = $.datepicker.formatDate( 'dd/mm/yy',new Date(dp.value));
    var altField = '#' + dp.id + '-value';

    $(dp).datepicker({ defaultDate: date, dateFormat: 'dd/mm/yy', altField:altField, altFormat: "MM, dd yy"});
    $(dp).val(date);

  });

  $( ".time-hours" ).each(function(k, dp) {
    $(dp).timepicker({ 'timeFormat': 'hh', 'showMinute': false, 'showSecond': false } );
    $(dp).val(date);
  });

  $( ".time-minutes" ).each(function(k, dp) {
    $(dp).timepicker({ 'timeFormat': 'mm', 'showHour': false, 'showSecond': false } );
    $(dp).val(date);
  });


});
</script>