<div class="stack1of3">
  <div class="stackContent">
    <div class="box box-shadow-1">
      <p class="padding-s0">
        <%- about %>
      </p>
    </div>
  </div>
</div>
<div class="stack1of3">
  <div class="stackContent">
    <div class="box box-shadow-1">
      <p class="padding-s0">
        <%- quickstart %>
      </p>
    </div>
  </div>
</div>
<div class="stack1of3">
  <div class="stackContent">
    <div class="box box-shadow-1">
      <p class="padding-s0">
        <%- guide %>
      </p>
    </div>
  </div>
</div>
<div class="stack1of3">
  <div class="stackContent">
    <div class="box box-shadow-1">
      <p class="padding-s0">
        <%- featurea %>
      </p>
    </div>
  </div>
</div>
<div class="stack1of3">
  <div class="stackContent">
    <div class="box box-shadow-1">
      <p class="padding-s0">
        <%- featureb %>
      </p>
    </div>
  </div>
</div>
<div class="stack1of3">
  <div class="stackContent">
    <div class="box box-shadow-1">
      <p class="padding-s0">
        <%- featurec %>
      </p>
    </div>
  </div>
</div>
