h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { font-family: "ff-prater-script-web-1", "ff-prater-script-web-2", "Georgia", "sans-serif"; }

.stackContent { font-family: 'Helvetica', 'Arial', sans-serif; }

h1, .h1 { font-size: 220%; line-height: 190%; }
h2, .h2 { font-size: 190%; line-height: 160%; }
h3, .h3 { font-size: 160%; line-height: 130%; }
h4, .h4 { font-size: 130%; line-height: 130%; }
h5, .h5 { font-size: 120%; line-height: 130%; }
h6, .h6 { font-size: 110%; line-height: 130%; }


/* i don't feel like making another file for now */
pre { 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
/* pre code { display: inline-block; overflow-y: hidden; padding: 10px; width: 90%; } */
pre code { display: block; padding-left: 15px; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
