
<!--
  TODO: separate this out ..
  "scripts.html" is not a good name for title, stylesheets, and scripts.
  TODO: make the title dynamic.
-->

<!--  STYLES -->
<%- styles %>
<link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" />
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/ui-lightness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="/css/stacklayout/stacklayout.css" />
<link href="/css/menu.css" rel="stylesheet">
<link href="/css/tabs.css" rel="stylesheet">
<link href="/css/table.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/structure.css" />
<link rel="stylesheet" type="text/css" href="/css/blueprint/forms.css" />
<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/css/colors.css" />
<link rel="stylesheet" type="text/css" href="/css/retina.css" media="only screen and (-webkit-min-device-pixel-ratio: 2)" role="960×640" />
<link rel="stylesheet" type="text/css" href="/css/wide.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/large.css" media="screen and (max-width: 1440px)" />
<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen and (max-width: 1300px)" />
<link rel="stylesheet" type="text/css" href="/css/medium.css" media="screen and (max-width: 1080px)" />
<link rel="stylesheet" type="text/css" href="/css/small.css" media="screen and (max-width: 850px)" />
<link rel="stylesheet" type="text/css" href="/css/smallest.css" media="screen and (max-width: 650px)" />
<!--  Google Fonts 

<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:regular" rel="stylesheet">
-->
<!--  Prettify -->
<link href="/js/prettify/dessert.css" rel="stylesheet">
